body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

header {
    background-color: #008080;
    color: white;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;

}

#logo {
    height: 80px;
    width: 80px;
}

#welcome, .textArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    background-color: #008080;
    text-align: center;
    padding: 14px 24px;
    border-radius: 5px;
    color: white;
}

/* Buttons on the homepage */
#homeButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

/* General */
.form-group {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Log workout page*/
.button {
    padding: 10px;
    margin: 10px;
    background-color: #008080;
    border-radius: 5px;
    color: white;
}

.pastWorkoutTable, thead, tbody {
    border: 1px solid black;
    width: 80%;
    table-layout: auto;
}

/* Grey-out the other part of the form area if completed all workout checkbox is ticked */
.grey-out {
    background-color: #f0f0f0;
    pointer-events: none;
    opacity: 0.6;
}

main {
    height: 80vh;
    
}

.padding {
    padding: 10px;
}


#planDetails {
    display: flex;

}

.dateRange {
    display: flex;
    align-items: center;
    gap: 5px;
}